/* body {
    background-image: linear-gradient(#FABF8E, #F79A4F, #FABF8E);
} */

table {
    background-color: #F2F2F2;
    width: 100%;
}

.personal-details, .address-details, .login-details {
    background-color: #F2F2F2;
    padding: 8px;
}

.required {
    color: red;
    font-weight: bold;
}

i {
    color: #3B4B7A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

label, td {
    color: #3B4B7A;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#submit {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #D7E5F2;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 2px 2px;
}

#reset {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-image: linear-gradient(#ffffff, #5AE800, #20A707);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 18px;
}

/* Add this to your existing styles */
.siblings-table-container {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px;
}

.siblings-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.siblings-table-container th,
.siblings-table-container td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.remove-sibling {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 0.2em 0.5em;
    cursor: pointer;
}
